<nav id="contenedor-principal">
    <div class="container">
        <!-- CONTENEDOR DEL LOGO -->
        <div class="logo">
            <img id="logotipo" src="./assets/logo.png">
        </div>
        <!-- FINAL CONTENEDOR DEL LOGO -->

        <!-- CONTENEDOR DE ESTEFASHION -->
        <div class="divnombreEmpresa">
            <h1 class="{{nombreEmpresa}}">{{nombreEmpresa1}}</h1>
        </div>
        <!-- FINAL CONTENEDOR DE ESTEFASHION -->

        <!-- CONTENEDOR DE BÚSQUEDA E ICONOS -->
        <div class="busqueda-e-iconos">
            <!-- contenedor busqueda -->
            <div class="formulario">
                <form>
                    <input class="formulario" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="boton-buscar" type="submit">Buscar</button>
                </form>
                <!-- fin de contenedor formulario -->

                <!-- contenedor iconos -->
                <div class="iconos">
                    <ul class="ul-listaiconos">

                        <!-- icono: cesta de la compra -->
                        <li class="icono-cesta">
                            <a class="nav-link" href="#">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                        <!-- fin icono: cesta -->

                        <!--icono: usuario -->
                        <li class="icono-user">
                            <a class="icono-user1" href="#" id="navbarDropdown" role="button"
                                aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                        <!-- fin icono: usuario -->
                        

                        <!-- menú desplegable del icono usuario 

                            ---ESTO ESTA APARTADO PARA SABER SI HACER UN MENU DESPLEGABLE CON JAVASCRIPT 
                            O CON HTML Y CSS---

                            <ul class="menu-desplegable" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="desplegables" href="#">Iniciar sesion</a>
                                </li>
                                <li>
                                    <a class="desplegables" href="#">Registro</a>
                                </li>
                                <li>
                                    <a class="desplegables" href="#">Ayuda</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                     fin menú desplegable-->
                    <!-- fin contenedor iconos -->
         <!-- CONTENEDOR DE BÚSQUEDA E ICONOS -->
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>


</nav>





<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
     container-fluid; contenedor completo 
    <div class="container-fluid" style="width: 100%;">

         div logo 
        <div class="logo">
            <img src="./assets/logo.png" width="70px">
        </div>

         div para poner ESTEFASHION 
        <div class="divnombreEmpresa">
            <h1 class="{{nombreEmpresa}}">{{nombreEmpresa1}}</h1>
        </div>

         div para los iconos de la derecha 
        <div class="iconos">
            <ul class="navbar-nav d-flex flex-row" style="margin-left: 148%">

                 Iconos 
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>

                 Lista cuando le das a desplegar en usuario 
                <li class="nav-item me-3 me-lg-0 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Iniciar sesion</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Registro</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Ayuda</a>
                        </li>
                    </ul>
                </li>
            </ul>

             div para el buscar 
        </div>
        
    </div>
</nav>   
-->